<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bookservicewebapplication20170422012052.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookservicewebapplication20170422012052.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookServiceWebApplication20170422012052</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BookServiceWebApplication20170422012052</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bookservicewebapplication20170422012052dbserver.database.windows.net,1433;Initial Catalog=BookServiceWebApplication20170422012052_db;User ID=Pap@bookservicewebapplication20170422012052dbserver;Password=ShareP0int2015" Name="Data Source=tcp:bookservicewebapplication20170422012052dbserver.database.windows.net,1433;Initial Catalog=BookServiceWebApplication20170422012052_db;User Id=Pap@bookservicewebapplication20170422012052dbserver;Password=ShareP0int2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookServiceWebApplication.Models.ApplicationDbContext, BookServiceWebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BookServiceWebApplicationContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:bookservicewebapplication20170422012052dbserver.database.windows.net,1433;Initial Catalog=BookServiceWebApplication20170422012052_db;User ID=Pap@bookservicewebapplication20170422012052dbserver;Password=ShareP0int2015" Name="Data Source=tcp:bookservicewebapplication20170422012052dbserver.database.windows.net,1433;Initial Catalog=BookServiceWebApplication20170422012052_db;User Id=Pap@bookservicewebapplication20170422012052dbserver;Password=ShareP0int2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BookServiceWebApplication.Models.BookServiceWebApplicationContext, BookServiceWebApplication" MigrationConfiguration="BookServiceWebApplication.Migrations.Configuration, BookServiceWebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookServiceWebApplicationContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bookservicewebapplication20170422012052dbserver.database.windows.net,1433;Initial Catalog=BookServiceWebApplication20170422012052_db;User Id=Pap@bookservicewebapplication20170422012052dbserver;Password=ShareP0int2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bookservicewebapplication20170422012052dbserver.database.windows.net,1433;Initial Catalog=BookServiceWebApplication20170422012052_db;User Id=Pap@bookservicewebapplication20170422012052dbserver;Password=ShareP0int2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>